*{margin: 0%;}
.profile{padding-left: 35%;padding-top: 1%;border-radius:4rem;height: 300px;width: 300px;}
p{font-size:large;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.personal{padding-left: 5%;}
.details{flex-direction: column;display:flex;flex-direction: row;}
.p1{font-size: large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.menu_bar{background-color: aqua;margin: 0%;}

.tet{background-color:lightsalmon;font-size: x-large;border-radius: 1rem;padding-right: 10px;padding-left: 10px;margin-right:1%;}

table,td{border: 1px solid black;border-collapse: collapse;}
.det1{ padding-right: 15px;font-size: large;text-align: center;}
.det2{ padding-right: 15px;font-size: large;text-align: center;width: 0.5%;}
.det3,.det4{padding-right: 15px;font-size: large;text-align: center;font-weight: bold;}

a:link{text-decoration: none;}
div.menu_bar a:hover{background-color: lightcoral;padding-left: 15px;padding-right: 15px;padding-top: 3px;padding-bottom: 3px;}


.contact_us{background-color: black;color:whitesmoke ;padding-left: 2%;margin-bottom: 0%;}
.con{display: flex; flex-direction: row;}

.interests{padding-left: 2%;}